@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(0, 4%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
    margin: 0;
}

button, a {
    cursor: pointer;
}

header {
    background: url(images/bg-hero-mobile.svg) no-repeat;
    background-size: contain;
    width: 100%;
    background-color: hsl(193, 100%, 96%);
    color:hsl(192, 100%, 9%);
    text-align: center;
    padding: 25px;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50%;
}

.logo button {
    width: 35%;
    padding: 12px;
    border-radius: 18px;
    border: 0;
    color: inherit;
    background-color: #fff;
    font-weight: 700;
    box-shadow: 3px 3px 5px hsl(193, 100%, 96%, 0.5);
}

.logo button:active {
    background-color: hsl(0, 0%, 100%, 0.9);
    color: hsl(208, 11%, 55%);
}

header .presentation-container {
    margin-top: 60px;
}

.presentation h1, h3 {
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
}

.presentation button, .community-building button {
    margin: 25px 0;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    width: 60%;
    padding: 12px;
    border-radius: 18px;
    border: 0;
    font-weight: 700;
    box-shadow: 3px 3px 5px hsl(322, 100%, 66%, 0.5);
}

.presentation button:active, .community-building button:active {
    background-color: hsl(322, 100%, 80%, 1);
}

.wireframes img {
    width: 100%;
    margin-top: 40px;
}

section article {
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    text-align: center;
    border: 2px solid hsl(0, 4%, 95%);
}

section article img {
    width: 70%;
    order: -1;
    margin: 25px 0;
}

section article p {
    color: hsl(208, 11%, 55%);
}

section .community-building {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: translateY(50%);
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 100%;
}

footer div:not(div:last-child) {
    margin-bottom: 40px;
}

.contact-us {
    margin-top: 40px;
}

.contact-us img:not(img:first-child) {
    display: block;
    transform: translateY(130%);
}

.contact-us img:first-child {
    margin: 30px 0;
}

.contact-us address {
    display: inline-block;
    margin-left: 32px;
    font-style: normal;
}

address:first-child {
    width: 40%;
}

.links a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 16px;
}

.links a:active, 
.links a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media a i {
    margin: 10px;
    padding: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-media a i:active,
.social-media a i:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.social-media small {
    font-size: 12px;
}

@media(min-width: 768px) {
    section article {
        width: 700px;
    }
}